<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ростелеком</title>
    <link rel="icon" href = "assets/img/avatar6.png">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <ul id="slide-out" class="side-nav fixed z-depth-4">
      <li>
        <div class="userView">
          <div class="background">
            <img src="assets/img/photo1.png">
          </div>
          <a href="#!user"><img class="circle" src="assets/img/avatar6.png"></a>
          <a href="#!name"><span class="white-text name">Добро пожаловать,</span></a>
          <a href="#!email"><span class="white-text email">клиент!</span></a>
        </div>
      </li>

      <li class="no-padding">
         <a class="collapsible-header" href="{{ path('lk') }}">Личный кабинет<i class="material-icons blue-item">person</i></a>
      </li>

      <li>
        <a href="{{ path('applications') }}" class="collapsible-header"><i class="material-icons pink-item">thumbs_up_down</i>Заявки</a>
      </li>

  </ul>
  <main>
    <section class="content">
      
      <div class="page-announce valign-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
        <h1 class="page-announce-text valign">Список заявок</h1>
      </div>
      

      <div id="posttable" class="container">
        <table class="responsive-table striped hover centered" id="names-table">
          <thead>
            <tr>
              <th>Номер заявки</th>
              <th>Услуга</th>
              <th>Дата заявки</th>
            </tr>
          </thead>
          <tbody>
            {% for application in applications %}
              <tr>
                <td><a>{{ application.id }}</a></td>
                <td><a>{% for tariff in application.tariffes %}{{ tariff.service.name }}{% if not (loop.index == application.tariffes|length) %},{% endif %} {% endfor %}</a></td>
                <td><a>{{ application.createdAt|date('Y-m-d H:i:s') }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="center-align">
          <a href="{{ path('createapps') }}">
            <button  type="submit" class="vniz btn btn-success"><i ><b>Создать</b></i></button>
          </a>
        </div>
      </div>
    </div>
  </section>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2022 ПАО «Ростелеком».
      </div>
    </div>
  </footer>
  
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
  // Hide sideNav
  $('.button-collapse').sideNav({
  menuWidth: 300, // Default is 300
  edge: 'left', // Choose the horizontal origin
  closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
    draggable: true // Choose whether you can drag to open on touch screens
    });
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
    });
    $('select').material_select();
    $('.collapsible').collapsible();
    </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>