<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ростелеком</title>
    <link rel="icon" href = "assets/img/avatar6.png">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <ul id="slide-out" class="side-nav fixed z-depth-4">
      <li>
        <div class="userView">
          <div class="background">
            <img src="assets/img/photo1.png">
          </div>
          <a href="#!user"><img class="circle" src="assets/img/avatar6.png"></a>
          <a href="#!name"><span class="white-text name">Добро пожаловать,</span></a>
          <a href="#!email"><span class="white-text email">клиент!</span></a>
        </div>
      </li>

      <li class="no-padding">
         <a class="collapsible-header" href="{{ path('lk') }}">Личный кабинет<i class="material-icons pink-item">person</i></a>
      </li>

      <li>
        <a href="{{ path("applications") }}" class="collapsible-header"><i class="material-icons blue-item">thumbs_up_down</i>Заявки</a>
      </li>

  </ul>
    <main>
    <section class="content">
      <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Личный кабинет</h1></div>
      <div class="container">
        <br>
        <form id="user" method="post">
          <table class="table table-hover">
            <tbody>
              <tr>           
                <td><label for="name">Наименование: </label></td>
                <td><input type="text" name="nameOrg" value="{{ app.user.nameOrg }}" /></td>
              </tr>
             <tr>                
                <td><label for="adress">Юридический адрес: </label></td>
                <td><input type="text" name="urAddress" value="{{ app.user.urAddress }}" /></td>
              </tr>
              <tr>                
                <td><label for="padress">Почтовый адрес: </label></td>
                <td><input type="text" name="postAddress" value="{{ app.user.postAddress }}" /></td>
              </tr>
              <tr>
                <td><label for="email">Электронный адрес: </label></td>
                <td><input type="text" disabled name="email" value="{{ app.user.email }}" /></td>
              </tr>
              <tr>
                <td><label for="inn">ИНН: </label></td>
                <td><input type="text" name="inn" value="{{ app.user.inn }}"/></td>
              </tr>
               <tr>
                <td><label for="kpp">КПП: </label></td>
                <td><input type="text" name="kpp" value="{{ app.user.kpp }}"/></td>
              </tr>
               <tr>
                <td><label for="bik">БИК: </label></td>
                <td><input type="text" name="bik" value="{{ app.user.bik }}"/></td>
              </tr>
              <tr>
                <td><label for="face">Доверенное лицо: </label></td>
                <td><input type="text" name="trustPers" value="{{ app.user.trustPers }}"/></td>
              </tr>
              <tr>
                <td><label for="phone">Контактный телефон: </label></td>
                <td><input type="text" name="telephone" value="{{ app.user.telephone }}" /></td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="center-align"><input class="btn btn-success" type="submit" value="Сохранить"/><a href="{{ path('app_logout') }}" class="btn btn-success"><i ><b>Выйти из аккаунта</b></i></a></div>

        </form>
        <br><br>

      </div>
    </section>
    </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2022 ПАО «Ростелеком».
      </div>
    </div>
  </footer>
    
    <!-- So this is basically a hack, until I come up with a better solution. autocomplete is overridden
    in the materialize js file & I don't want that.
    -->
    <!-- Yo dawg, I heard you like hacks. So I hacked your hack. (moved the sidenav js up so it actually works) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
    // Hide sideNav
    $('.button-collapse').sideNav({
    menuWidth: 300, // Default is 300
    edge: 'left', // Choose the horizontal origin
    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
      });
      $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
      });
      $('select').material_select();
      $('.collapsible').collapsible();
      </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>
</html>